.page-header {
    display: flex;
    box-shadow: 0 1px 1px rgba(0, 1, 1, 0.05);
    border: 1px solid #dfdfdf;
}

.page-header__inner {
    display: flex;
    align-items: center;
    padding: 10px 0 13px;
}

.page-header__logo {
    flex-shrink: 0;
    width: 188px;
    height: 66px;
    margin-left: -16px;
    margin-right: auto;
    & > img {
        width: 100%;
        height: 100%;
    }
}

.page-header__search {
    flex-grow: 1;
    max-width: 780px;
    margin-left: 18px;
    margin-right: 21px;
    @include r($l-mobile) {
        display: none;
    }
}

.page-header__cart {
    margin-left: auto;
}
