// Colors
$main: #666666;
$accent: #333333;
$main-light: #999999;
$decor: #fe6b09;
$decor-light: #ff7300;
$line: #e8e8e8;
$light: #f4f4f4;
$green: #76c856;

// Media
$xs-mobile: 325;
$s-mobile: 375;
$mobile: 500;
$l-mobile: 650;
$m-tablet: 768;
$tablet: 1024;
$s-desktop: 1280;
$m-desktop: 1440;
